<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.cms.mapper.PostMapper">


    <select id="selectPostPageList" resultType="com.yc.common.core.base.entity.cms.PostEntity">
        SELECT
        id,
        post_title,
        post_excerpt,
        comment_status,
        post_status,
        category_id,
        ( SELECT nick_name FROM yc_user WHERE id = post_author ) AS postAuthor,
        origin_url,
        ( SELECT company_name FROM yc_company WHERE id = company_id ) AS companyName,
        create_time,
        update_time
        FROM
        yc_post
        <where>
            <if test="param.postTitle != null and param.postTitle!=''">
                and post_title LIKE concat('%',#{param.postTitle},'%')
            </if>
            <if test="param.orderCon != null and param.orderCon!='' and param.sortCon != null and param.sortCon!=''">
                order by ${param.orderCon} ${param.sortCon}
            </if>
        </where>
    </select>
</mapper>
