<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.cms.mapper.TagMapper">


    <select id="selectTagPageList" resultType="com.yc.common.core.base.entity.cms.TagEntity">
        SELECT
        id,
        tag_name,
        `status`,
        company_id,
        ( SELECT company_name FROM yc_company WHERE id = company_id ) AS companyName,
        create_time,
        update_time
        FROM
        yc_tag
        <where>
            <if test="param.tagName != null and param.tagName!=''">
                and tag_name LIKE concat('%',#{param.tagName},'%')
            </if>
            <if test="param.orderCon != null and param.orderCon!='' and param.sortCon != null and param.sortCon!=''">
                order by ${param.orderCon} ${param.sortCon}
            </if>
        </where>
    </select>
</mapper>
