<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.crawler.mapper.CrawlerMapper">

    <insert id="insert" parameterType="com.yc.common.core.base.vo.crawler.PollutantVO">
        insert into yc_zq_aqa_city_hour (city, day,hour, aqi,
          so2, no2, co,
          pm10, pm2_5, o3,
          create_time)
        values (#{city}, #{day},#{hour}, #{aqi},
          #{so2}, #{no2}, #{co},
          #{pm10}, #{pm2_5}, #{o3},
          #{createTime})
          ON DUPLICATE KEY UPDATE
            city = VALUES(city),
            day = VALUES(day),
            hour = VALUES(hour),
            aqi = VALUES (aqi),
            so2 = VALUES (so2),
            no2 = VALUES (no2),
            co = VALUES (co),
            pm10 = VALUES (pm10),
            pm2_5 = VALUES (pm2_5),
            o3 = VALUES (o3),
            create_time = VALUES (create_time)
    </insert>

    <select id="selectAllCity" resultType="java.lang.String">
      SELECT distinct city_name FROM yc_zq_city
    </select>



</mapper>